<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>MediaDL</title>

        <link rel="stylesheet" type="text/css" href="{{base_path}}/css/main.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{base_path}}/css/progress.css" media="screen"/>
        <script>
            window.MediaDL = {
                base_path: function(s) {
                    return "{{base_path}}" + s;
                }
            }
        </script>
        <script type="text/javascript" src="{{base_path}}/js/main.js"></script>
    </head>
    <body>
        <h1><span class='logo' style='margin-right: 1%;'><i class="fas fa-download"></i></span> MediaDL</h1>
        <div class='input-field'>
            <i id='status-indicator' style='margin-left:0.8em;color:#b22222;opacity: 0.4;' class="fas fa-times"></i>
            <input class='url' id='url-input' type="text" placeholder="URL of Video..." />
            <button class='go' id='go-button' disabled='y'><i class="fas fa-chevron-right"></i></button>
        </div>
        <div id='videos-info' class='videos-info'></div>
        <script>
            var previous_value = "";

            $(document).ready(function(){
                var url_input = $("#url-input");
                var go_button = $("#go-button");

                url_input.val("");
                url_input.focus();
                url_input.on('keyup', function() {
                    check_url("{{base_path}}/url-info", url_input.val());
                });
                url_input.on('keypress',function (e) {
                    if(e.which == 13) {
                        submit_url(
                            "{{base_path}}/url-info",
                            "{{base_path}}/download-states",
                            "{{base_path}}/queue",
                            "{{base_path}}/download",
                            url_input.val()
                        );
                    }
                });
                go_button.on('click', function(e) {
                    submit_url(
                        "{{base_path}}/url-info",
                        "{{base_path}}/download-states",
                        "{{base_path}}/queue",
                        "{{base_path}}/download",
                        url_input.val()
                    );
                })
            });
        </script>
    </body>
</html>
