body {
    font-family: 'Roboto', sans-serif;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #222222;
    margin-bottom: 1.5em;
}
a {
    color: #b22222;
}
a:link {
    color: #b22222;
}
a:visited {
    color: #c22222;
}
a:hover {
    color: #e44444;
}
a:active {
    color: #b11111;
}

span.logo {
    padding: 0.3em;
    background-color: #b22222;
    color: white;
}
input.url {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin: 0.8em;
    height: 100%;
}
input.url:disabled {
    background-color: white;
    border: none;
}
input.url:focus {
    outline-width: 0;
}
div.input-field {
    width: 40%;
    min-width: 20em;
    height: 3em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: center;
}
div.input-field:focus-within {
    box-shadow: 0.05em 0.05em 0.5em lightgray;
}
button.go {
    background-color: white;
    color: #222222;
    border: none;
    border-left: 1px solid lightgray;
    width: 3em;
    height: 100%;
}
button.go:hover {
    background-color: rgb(0,0,0,0.05);
}
button.go:disabled {
    background-color: white;
    color: lightgray;
}
button.go:focus {
    outline-width: 0;
}
div.videos-info {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid lightgray;
    background-color: rgb(0,0,0,0.05);
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: space-between;
    flex-direction: column;
}
