@keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.progress {
  width: 9.6em;
  height: 0.3em;
  background-color: lightgray;
  overflow-x: hidden;
}
.progress-full {
    width: 9.6em;
    transition: width 0.2s;
    height: 0.3em;
    background-color: #b22222;
}
.progress-empty {
    width: 9.6em;
    height: 0.3em;
    background-color: lightgray;
}
.progress-content-unknown {
    width: 19.2em;
    height: 0.3em;
    
    background: -webkit-linear-gradient(
        left,
        #b22222 0%,
        #b22222 30%,
        lightgray 30%,
        lightgray 100%
    ) repeat;
    
    background-size: 50% 9.6em;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}